In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score

In [7]:
from google.colab import files
uploaded = files.upload()

Saving vgsales.csv to vgsales.csv

In [8]:
#dataset is now stored in a Pandas Dataframe
import io
Game=pd.read_csv(io.BytesIO(uploaded['vgsales.csv']))

In [9]:
#check first 5 rows of the dataset
Game.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Unnamed: 11
0,1,Wii Sports,Wii,2006,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74,NaN
1,2,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN
2,3,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82,NaN
3,4,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00,NaN
4,5,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN

In [10]:
#check last 5 rows of the dataset
Game.tail()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Unnamed: 11
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002,Platform,Kemco,0.01,0.00,0.0,0.0,0.01,NaN
16594,16597,Men in Black II: Alien Escape,GC,2003,Shooter,Infogrames,0.01,0.00,0.0,0.0,0.01,NaN
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008,Racing,Activision,0,0.00,0.0,0.0,0.01,NaN
16596,16599,Know How 2,DS,2010,Puzzle,7G//AMES,0,0.01,0.0,0.0,0.01,NaN
16597,16600,Spirits & Spells,GBA,2003,Platform,Wanadoo,0.01,0.00,0.0,0.0,0.01,NaN

In [11]:
#check shape of the dataset
Game.shape

(16598, 12)

In [12]:

#check missing values of the dataset
Game.isnull().sum()

Rank                0
Name                0
Platform            0
Year              271
Genre               0
Publisher          58
NA_Sales            0
EU_Sales            0
JP_Sales            0
Other_Sales         0
Global_Sales        0
Unnamed: 11     16572
dtype: int64

In [13]:
#handel missing values of the dataset
Game = Game.dropna()

In [14]:
#check drop missing value
Game.isnull().sum()

Rank            0
Name            0
Platform        0
Year            0
Genre           0
Publisher       0
NA_Sales        0
EU_Sales        0
JP_Sales        0
Other_Sales     0
Global_Sales    0
Unnamed: 11     0
dtype: int64

In [15]:
#check statical measure of the dataset
Game.describe()

,Rank,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Unnamed: 11
count,26.000000,26.000000,26.000000,26.000000,26.000000,26.000000
mean,13256.923077,0.007692,0.006154,0.038846,0.004231,0.057308
std,2542.445766,0.020844,0.019199,0.040726,0.011721,0.052120
min,7320.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,11663.500000,0.000000,0.000000,0.012500,0.000000,0.020000
50%,13406.000000,0.000000,0.000000,0.025000,0.000000,0.045000
75%,15258.750000,0.000000,0.000000,0.050000,0.000000,0.075000
max,16419.000000,0.070000,0.090000,0.190000,0.050000,0.210000

In [16]:
#check more infomation of the dataset
Game.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26 entries, 7318 to 16416
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          26 non-null     int64
 1   Name          26 non-null     object
 2   Platform      26 non-null     object
 3   Year          26 non-null     object
 4   Genre         26 non-null     object
 5   Publisher     26 non-null     object
 6   NA_Sales      26 non-null     object
 7   EU_Sales      26 non-null     float64
 8   JP_Sales      26 non-null     float64
 9   Other_Sales   26 non-null     float64
 10  Global_Sales  26 non-null     float64
 11  Unnamed: 11   26 non-null     float64
dtypes: float64(5), int64(1), object(6)
memory usage: 2.6+ KB

In [17]:
#count the values of Publisher
Game['Publisher'].value_counts()

Adventure    23
Action        3
Name: Publisher, dtype: int64

In [18]:
#count the values of the Genre
Game['Genre'].value_counts()

2015    6
2012    5
2014    4
2013    3
2011    3
2009    2
2010    2
2007    1
Name: Genre, dtype: int64

In [19]:
#spliting the dataset in feature and target
X = Game[["Rank", "NA_Sales", "EU_Sales", "JP_Sales", "Other_Sales"]]
Y = Game["Global_Sales"]

In [20]:
print(X)
print(Y)

        Rank                    NA_Sales  EU_Sales  JP_Sales  Other_Sales
7318    7320                       PQube      0.07      0.09         0.00
7763    7765             Kadokawa Shoten      0.00      0.00         0.19
9967    9969  Idea Factory International      0.07      0.01         0.00
10381  10383                         5pb      0.00      0.00         0.11
11133  11135  Idea Factory International      0.05      0.02         0.00
11372  11374                       PQube      0.01      0.04         0.02
11437  11439                         5pb      0.00      0.00         0.08
12335  12337                         5pb      0.00      0.00         0.06
12414  12416                         5pb      0.00      0.00         0.06
12625  12627                         5pb      0.00      0.00         0.06
12933  12935                         5pb      0.00      0.00         0.05
13081  13083                       PQube      0.00      0.00         0.05
13123  13125                       PQube      0.00      0.00         0.05
13685  13687                         5pb      0.00      0.00         0.04
13986  13988                         5pb      0.00      0.00         0.04
14357  14360                         5pb      0.00      0.00         0.03
14820  14823                         5pb      0.00      0.00         0.03
15038  15041                         5pb      0.00      0.00         0.02
15114  15117                         5pb      0.00      0.00         0.02
15303  15306                         5pb      0.00      0.00         0.02
15457  15460                         5pb      0.00      0.00         0.02
15689  15692                         5pb      0.00      0.00         0.02
16265  16268                        Yeti      0.00      0.00         0.01
16272  16275                         5pb      0.00      0.00         0.01
16333  16336                         5pb      0.00      0.00         0.01
16416  16419                         5pb      0.00      0.00         0.01
7318     0.05
7763     0.00
9967     0.03
10381    0.00
11133    0.02
11372    0.01
11437    0.00
12335    0.00
12414    0.00
12625    0.00
12933    0.00
13081    0.00
13123    0.00
13685    0.00
13986    0.00
14357    0.00
14820    0.00
15038    0.00
15114    0.00
15303    0.00
15457    0.00
15689    0.00
16265    0.00
16272    0.00
16333    0.00
16416    0.00
Name: Global_Sales, dtype: float64

In [21]:
#splitting the dataset in train and test dataset
X_train,X_test,Y_train,Y_test = train_test_split(X,Y, test_size=0.2, random_state=2)

In [22]:

print(X.shape,X_train.shape,X_test.shape)

(26, 5) (20, 5) (6, 5)

In [23]:
#fitting the model LinearRegression
model = LinearRegression()

In [ ]:
model.fit(X_train,Y_train)

In [ ]:
#model evaluation training dataset
train_data = model.predict(X_train)